<%= javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.core.min.js" %>

<h1>View and modify users here</h1>

<p>Table for viewing MISSIONARY users - others are non-editable</p>

<div class="row">
<div class="col-xs-6">
<table id="current_users" class="table-striped user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Release Date</th>
        </tr>
    </thead>
    <tbody>
        <% @users.each do |user| %>
            <tr>
                <td><%= user.name %></td>
                <td><%= user.person_type %></td>
            </tr>
        <% end %>
    </tbody>
</table>
</div>

<div class="col-xs-6">
<table id="preview_users" class="table-striped user-table">
    <tr>
        <th>Name</th>
        <th>Release Date</th>
    </tr>
    <% @users.each do |user| %>
        <tr>
            <td></td>
            <td></td>
        </tr>
    <% end %>
</table>
</div>
</div>

<p>Form for uploading a spreadsheet to update users</p>

<%= form_tag("/admin/users", multipart: true) do |form| %>
    <%= file_field_tag "roster_file" %>
    <%= hidden_field_tag "names" %>
    <%= hidden_field_tag "user_names" %>
    <%= hidden_field_tag "types" %>
    <%= hidden_field_tag "areas" %>
    <%= hidden_field_tag "zones" %>
    <%= submit_tag "Submit Roster", :id => "submit_users" %>
<% end %>

<p>Button for rolling back database</p>
